.hero {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url("../assets/img/header/banner-image.png");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 32px 152px;
    gap: 16px;
    width: 1134px;
    align-self: center;
    height: 292px;
    justify-content: end;
}

.hero__texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    color: #FFFFFF;
}

.hero__texto__titulo {
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    margin: 0;
}

.hero__texto__subtitulo {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    color: #FFFFFF;
}

.hero__texto__botao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    background: #2A7AE4;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}


.conteudo {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 1136px;

}

.lista__produto {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 16px;
}

.lista__produto__cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.lista__produto__botao {
    border: none;
    background: none;
    cursor: pointer;
    color: #2A7AE4;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.produto__container {
    display: grid;
    grid-template-columns: repeat(6, auto [col-start]);
    justify-items: center;
    gap: 16px;
    padding: 0 0 32px 0;
}

.produto {
    text-align: left;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 8px;
}

.produto__image {
    height: 176px;
    width: 174px;

}

.produto__name {
    font-style: medium;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

.produto__price {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin: 0;
}

.produto__botao_ver {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #2A7AE4;
    cursor: pointer;
}

@media only screen and (max-width: 1260px) {
    .hero {
        width: 768px;
        padding: 32px 0px;
    }

    .hero__texto {
        padding: 0 32px;
    }
    
    
    .conteudo {
        width: 768px;
        gap: 16px;
    }

    .lista__produto {
        padding: 0px 32px;
        gap: 16px;
    }

    .produto__image {
        width: 164px;
        height: 174px;

    }

}

@media only screen and (max-width: 768px) {
    .hero {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url("../assets/img/header/banner-image.png");
        background-position: center;
        gap: 16px;
        width: 360px;
        height: 192px;
        padding: 16px 0;
    }

    .hero__texto {
        gap: 8px;
        width: 328px;
        height: 98px;
    }


    .hero__texto__titulo {
        font-size: 22px;
        line-height: 26px;
    }

    .hero__texto__subtitulo {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
    }

    .hero__texto__botao {
        padding: 12px 16px;
        gap: 10px;
        width: 119px;
        height: 40px;
        font-size: 14px;
        line-height: 16px;
    }
    
    
    
    .conteudo {
        width: 360px;
    }

    .lista__produto {
        padding: 16px;
        gap: 16px;
        width: 360px;
        height: 588px
    }

    .lista__produto__cabecalho {
        padding: 0px;
        width: 328px;
        height: 26px;
    }

    .lista__produto__botao {
        font-size: 14px;
        line-height: 16px;
    }

    .produto__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 45%);
        justify-items: center;
        grid-gap: 8px;
    }

    .produto__image {
        width: 156px;
        height: 174px;
    }

}